[submodule "vendor/twilight-emacs"]
	path = vendor/twilight-emacs
	url = git://github.com/crafterm/twilight-emacs.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/cheat"]
	path = vendor/cheat
	url = http://github.com/defunkt/cheat.el.git
[submodule "vendor/php-mode"]
	path = vendor/php-mode
	url = http://github.com/emacsmirror/php-mode.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = http://github.com/technomancy/magit.git
